cloud:
  aws:
    credentials:
      accessKey: # access key 값
      secretKey: # secret key 값
    s3:
      bucket: bungaebowling-img-s3
    region:
      static: ap-northeast-2
    stack:
      auto: false