apiVersion: v1
kind: Secret
metadata:
  name: secret
type: Opaque
stringData:
  TOKEN_SECRET: 
  DOMAIN: 
  GMAIL_USERNAME: 
  GMAIL_APPLICATION_PASSWORD: 
  AWS_ACESS_KEY: 
  AWS_SECRET_KEY: 
  MYSQL_USERNAME: 
  MYSQL_PASSWORD: 
